body {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;

}

button {
    min-width: 30px;
    min-height: 30px;
    background-color: lightyellow;
    margin: 5px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;

}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    font-size: 0px;
    display: inline-block;
}
